@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100wh;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(197, 80, 129), rgb(197, 80, 150));

}

h1{
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
}

section{
    background-color: white;
    border: 1px solid black;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

section:hover{
    border: 2px solid black;
}


#igual {
    margin: 40px 5px 0px 5px;
}

#dentrosection{
    display: flex;
    gap: 5px;
}

#selectp{
    margin-bottom: 20px;
    width: 550px;
}


select:hover{
    background-color: rgb(82, 82, 82);
    color: white;
}

.encaixes{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
}


select, input{
    height: 50px;
    width: 260px;
}
