@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100wh;
    height: 100vh;
    background-image: linear-gradient(45deg, #0096D2, #037fb1);

}

h1{
    color: #DF2210;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    animation-name: anime-title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.397);
}

@keyframes anime-title {
    0% {color: #DF2210;}
    33% {color: #42AA33;}
    66% {color: #F4C900}
}

section{
    background-color: #CEBBC9;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.397);
}


#igual {
    margin: 40px 5px 0px 5px;
}

#dentrosection{
    display: flex;
    gap: 5px;
}

#selectp{
    margin-bottom: 20px;
    width: 550px;
}


select:hover{

}

.encaixes{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
}


select, input{
    height: 50px;
    width: 260px;
}


nav{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

a{
    text-decoration: none;
    color: #000000;
    font-family: 'Silkscreen', cursive;
}

a:hover{
    text-decoration: underline;
    color: #00000086;
}

