@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #131921;
}

h1{
    color: #DF2210;
    font-family: 'Silkscreen', cursive;
    font-size: 50px;

}


section{
    background-color: #232F3F;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px 3px #0e111442;
    border-radius: 15px;
}


#igual {
    margin: 40px 5px 0px 5px;
}

#dentroSection{
    display: flex;
    gap: 5px;
}

#selectMain{
    margin-bottom: 20px;
    width: 550px;
}


select:hover{
    cursor: pointer;
}

.encaixes{
    display: flex;
    flex-direction: column;
}

input{
    text-align: center;
}


select, input{
    height: 50px;
    width: 260px;
}


nav{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

a{
    text-decoration: none;
    color: #adadad;
    font-family: 'Silkscreen', cursive;
    font-size: 19px;
}

a:hover{
    text-decoration: underline;
    color: #568fb686;
}

@media (max-width: 810px){
    section{
        width: 600px;
        height: 400px;
        border-radius: 15px;
    }
}

@media (max-width: 610px){
    section{
        width: 500px;
        height: 400px;
        border-radius: 15px;
    }

    
    #selectMain{
    margin-bottom: 20px;
    width: 410px;
    }

    select, input{
        height: 40px;
        width: 190px;
    }
}

@media (max-width: 510px){

    h1 {
        color: #7d9eca;
        font-size: 44px;
    }

    section{
        width: 300px;
        height: 400px;
        border-radius: 15px;
    }

    
    #selectMain{
    margin-bottom: 20px;
    width: 230px;
    }

    select, input{
        height: 40px;
        width: 230px;
    }

    #dentroSection{
        flex-direction: column;
    }

    #igual{
        display: none;
    }

    .encaixes{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    footer {
        margin-top: -50px;
    }


}

